<div class="container">
  <div class="row">
      <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12" style="padding: 8px 0 12px 8px;">
          <img src="{{site.baseurl}}/assets/images/logo.png"  />
      </div>
      <div class="col-lg-5 col-md-5 hidden-xs hidden-sm text-right" style="padding-top: 20px;">
          <address>联系我们：010-67722766</address>
      </div>
  </div>
</div>
<nav class="navbar navbar-inverse " role="navigation" >
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>


          </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li class="index"><a href="{{site.baseurl}}/index.html" >首页 </a></li>
              <li class="zoujinjiamo"><a href="{{site.baseurl}}/about/company.html">走进佳膜</a></li>

              <li class="dropdown hexinjishu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">核心技术<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                      <li><a href="{{site.baseurl}}/tech/01.html">聚四氟乙烯微多孔膜</a></li>
                      <li><a href="{{site.baseurl}}/tech/02.html">4M-ePTFE膜的应用领域</a></li>
                      <li><a href="{{site.baseurl}}/tech/05.html">行业指标</a></li>
                      <li><a href="{{site.baseurl}}/tech/03.html">核心专利展示</a></li>
                      <li><a href="{{site.baseurl}}/tech/04.html">产品领域展示</a></li>
                  </ul>
              </li>
              <li class="dropdown2  product">
                  <a href="{{site.baseurl}}/list.html" class="dropdown-toggle" >产品中心<span class="caret"></span></a>
                  
                  <ul class="dropdown-menu" role="menu">
                    {% for p in site.product %}
                          <li><a href="{{site.baseurl}}{{p.url}}">{{p.title}}</a></li>
                    {%endfor%}

                  </ul>
              </li>
              <li class="fuwuanli visible-lg-block"><a href="{{site.baseurl}}/anli/01.html">服务案例</a></li>
              <li class="dropdown news visible-lg-block">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">新闻资讯<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                      <li><a href="{:U('Portal/list/index',array('id'=>7))}">企业资讯</a></li>
                      <li><a href="{:U('Portal/list/index',array('id'=>8))}">行业资讯</a></li>
                      <li><a href="{:U('Portal/list/index',array('id'=>14))}">媒体动态</a></li>
                  </ul>
              </li>

              <!--<li class="{$hezuoshenqing}"><a href="{:U('Portal/article/index',array('id'=>24,'cid'=>12))}" >代理申请</a></li>-->
              <li class="visible-lg-block"><a href="{:U('Portal/map/index')}" >经销商查询</a></li>
          </ul>


          <ul class="nav navbar-nav navbar-right visible-lg-block" id="main-menu-user">
              <li class="dropdown user login">
                  <a class="dropdown-toggle user" data-toggle="dropdown" href="#">
                      <img src="{{site.baseurl}}/assets/images/headicon.png" class="headicon" style="padding-right: 20px;"/>
                      <span class="user-nicename"></span><b class="caret"></b></a>
                  <ul class="dropdown-menu pull-right">
                      <li><a href="{:U('user/center/index')}"><i class="fa fa-user"></i> &nbsp;个人中心</a></li>
                      <li class="divider"></li>
                      <li><a href="{:U('user/index/logout')}"><i class="fa fa-sign-out"></i> &nbsp;退出</a></li>
                  </ul>
              </li>
              <li class="dropdown user offline">
                  <a class="dropdown-toggle user" data-toggle="dropdown" href="#">
                      <span class="glyphicon glyphicon-user" style="padding-right: 20px;"></span> 登录<b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu pull-right">
                      <li><a href="{:leuu('user/login/index')}"><i class="fa fa-sign-in"></i> &nbsp;登录</a></li>
                      <li class="divider"></li>
                      <li><a href="{:leuu('user/register/index')}"><i class="fa fa-user"></i> &nbsp;注册</a></li>
                  </ul>
              </li>
          </ul>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>